<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comptabilité clients</title>
    <!-- On inclut d'abord le style principal, puis celui spécifique aux clients (rouge) -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style_principal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_clients.css') }}">
    
</head>
<body>
    <div class="container">
        <h1>Comptabilité clients</h1>
        <div class="button-container">
            <a href="{{ url_for('recherche_factures_clients') }}" class="custom-button">
                Factures clients et notes de crédit
            </a>
            <a href="{{ url_for('recherche_clients')}}" class="custom-button">
                Liste des clients
            </a>
            <a href="#" class="custom-button">
                Paiements en attente
            </a>
            <a href="#" class="custom-button">
                Factures clients mémorisées
            </a>
        </div>
    </div>
</body>
</html>
